# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Python / Django
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store

# Environments
.env
.env.local
.env.*.local
